<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links d-flex justify-content-around">
						<li><a class="p-5" href="http://localhost:4200/home">Home</a></li>
						<li><a class="p-5"  href="http://localhost:4200/details">About</a></li>
						<li><a class="p-5" href="#">FAQ</a></li>
						<li><a class="p-5" href="http://localhost:4200/">GetStarted</a></li>
						<li><a class="p-5"  href="http://localhost:4200/products">Videos</a></li>
					</ul>
				</div>
			</div>
			  <!-- Social buttons -->
			  <ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-fb mx-1">
					<i class="fab fa-facebook-f"> </i>
				  </a>
				</a>
				</li>
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-tw mx-1">
					<i class="fab fa-twitter"> </i>
				  </a>
				  </a>
				</li>
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-gplus mx-1">
					<i class="fab fa-google"> </i>
				  </a>
				  </a>
				</li>
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-li mx-1">
					<i class="fab fa-instagram"> </i>
				  </a>
				  </a>
				</li>
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-li mx-1">
					<i class="fab fa-telegram"> </i>
				  </a>
				  </a>
				</li>
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-li mx-1">
					<i class="fab fa-whatsapp"> </i>
				  </a>
				  </a>
				</li>
				<li class="list-inline-item">
					<a href="http://localhost:4200/login">
				  <a class="btn-floating btn-li mx-1">
					<i class="fab fa-youtube"> </i>
				  </a>
				  </a>
				</li>
			  </ul>
			  <!-- Social buttons -->
		  
	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.nationaltransaction.com/">Kisan seva Corporation</a></u> is a Registered MSP/ISO of Inc.  [a wholly owned subsidiary of India by vamshikrishna.p , of PVK Kisan]</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">PVKKisan</a></p>
				</div>
				<hr>
			</div>	
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
	</section>
	<!-- ./Footer -->
</body>
</html>
