<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>motors</title>
</head>
<body>
    <h3 class="motor">Motors</h3>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body mt-5 ml-5">
                <img class="img" src="assets/pvk kisan img/pump img-2.jpg" alt="pump" width="200px" height="255px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;55,000</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body mt-5 ml-5">
                <img class="img" src="assets/pvk kisan img/pump img-1.jpg" alt="pump" width="200px" height="255px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;50,000</h5>
              <p class="card-text"class="btn btn-info mt-1 ml-5">Buy</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body mt-5 ml-5">
                <img class="img" src="assets/pvk kisan img/pump img-4.jpg" alt="pump" width="200px" height="255px">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;60,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body mt-5 ml-5">
                  <img class="img" src="assets/pvk kisan img/pump img-5.jpg" alt="pump">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>65,000</del>&nbsp;60,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
              
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body mt-5 ml-5">
                  <img class="img" src="assets/pvk kisan img/pump img-6.jpg" alt="pump" width="200px" height="255px">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>70,000</del>&nbsp;65,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="card">
                <div class="card-body mt-5 ml-5">
                  <img class="img" src="assets/pvk kisan img/pump img-10.jpg" alt="pump" width="200px" height="255px">
                  <h5 class="card-title mt-2 ml-5">Rs:&nbsp;40,000</h5>
                  <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body mt-5 ml-5">
                      <img class="img" src="assets/pvk kisan img/motor img.jpg" alt="pump" width="200px" height="255px">
                    <h5 class="card-title mt-2 ml-5">Rs:&nbsp;65,000</h5>
                    <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                  
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body mt-5 ml-5">
                      <img class="img" src="assets/pvk kisan img/pump img-9.jpg" alt="pump" width="200px" height="255px">
                    <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>70,000</del>&nbsp;60,000</h5>
                    <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body mt-5 ml-5">
                      <img class="img" src="assets/pvk kisan img/pump img-12.jpg" alt="pump" width="200px" height="200px">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>90,000</del>&nbsp;75,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body mt-5 ml-5">
                      <img class="img" src="assets/pvk kisan img/pump img-13.jpg" alt="pump" width="200px" height="200px">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>90,000</del>&nbsp;65,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body mt-5 ml-5">
                      <img class="img" src="assets/pvk kisan img/pump img-14.jpg" alt="pump" width="200px" height="200px">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;45,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body mt-5 ml-5">
                      <img class="img" src="assets/pvk kisan img/pump img-15.jpg" alt="pump" width="200px" height="200px">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;50,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body mt-5 ml-5">
                        <img class="img" src="assets/pvk kisan img/pump2 img-1.png" alt="pump" width="200px" height="255px">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;55,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body mt-5 ml-5">
                        <img class="img" src="assets/pvk kisan img/pump2 img-2.jpg" alt="pump" width="200px" height="255px">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;65,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body mt-5 ml-5">
                        <img class="img" src="assets/pvk kisan img/pump2 img-3.jpg" alt="pump" width="200px" height="255px">
                        <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>60,000</del>&nbsp;55,000</h5>
                        <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body mt-5 ml-5">
                        <img class="img" src="assets/pvk kisan img/pump2 img-4.jpg" alt="pump" width="200px" height="255px">
                        <h5 class="card-title mt-2 ml-5">Rs:&nbsp;60,000</h5>
                        <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                       
                      </div>
                    </div>
                  </div>
      </div>
</body>
</html>
