<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pesticides</title>
</head>
<body>
    <h3 class="p">pesticides</h3>
    <div class="container d-flex justify-content-around p-5">
        <a routerLink='/products/pesticides/powderpesticides'>
            <img src="assets/pvk kisan img/pesticides main2-img.jpg" alt="pesicides"  width="200px" height="250px" >
        <h4>Powder pesticides</h4>
    </a>
    <a routerLink='/products/pesticides/liquidpesticides'>
        <img src="assets/pvk kisan img/pesticides main-img.jpg" alt="pesticides"  width="200px" height="250px"  >
       
        <h4 >Liquid pesticides</h4>
    </a>
    </div>
    <router-outlet></router-outlet>

</body>
</html>
