<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pumps</title>
</head>
<body>
  <h3 class="p">Pumps</h3>
  <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-1.jpg" alt="cotton" width="200px" height="310px">
            <h5 class="card-title mt-2 ml-5">Rs:&nbsp;4500</h5>
            <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-2.jpg" alt="cotton" width="200px" height="310px">
            <h5 class="card-title mt-2 ml-5">Rs:&nbsp;4000</h5>
            <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-3.jpg" alt="cotton" width="200px" height="310px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;5000</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-4.jpg" alt="cotton" width="200px" height="310px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;3000</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-5.jpg" alt="cotton" width="200px" height="255px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;5500</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-6.jpg" alt="cotton" width="200px" height="255px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;6050</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-7.jpg" alt="cotton" width="200px" height="255px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;4070</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <img src="assets/pvk-img/p img-8.jpg" alt="cotton" width="200px" height="255px">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;3500</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
             
            </div>
          </div>
        </div>
        
    </div><br>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
    
</body>
</html>
