<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fertilizers</title>
</head>
<body>
  <h3 class="f">Fertilizers</h3>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <h4>Urea</h4>
                <img src="assets/pvk kisan img/fertilizers img-0.jpg" alt="fertiizer" height="265px" width="200px">
              <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;268</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
              <h4>Mop</h4>
                <img src="assets/pvk kisan img/potash img.jpg" alt="fertiizer" width="200px" height="265px">
              <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;1700</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <h4>DAP</h4>
                <img src="assets/pvk kisan img/dap img.jpg" alt="fertiizer" width="200px" height="265px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;1200</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <h4>Urea</h4>
                  <img src="assets/pvk kisan img/fertilizers img-1.jpg" alt="fertiizer">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;900</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <h4>ASP</h4>
                  <img src="assets/pvk-img/img-15.jpg" alt="fertiizer" width="200px" height="280px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;1,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="card">
                <div class="card-body" style="margin-left: 60px;">
                  <h4>Potash</h4>
                  <img src="assets/pvk-img/img-14.jpg" alt="fertiizer" width="200px" height="280px">
                  <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                  <h5 class="card-title mt-2 ml-5">Rs:&nbsp;1500</h5>
                  <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body" style="margin-left: 60px;">
                    <h4>Sulphate of potsah</h4>
                      <img src="assets/pvk kisan img/fertilizers img-4.jpg" alt="fertiizer" width="200px" height="280px">
                    <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                    <h5 class="card-title mt-2 ml-5">Rs:&nbsp;750</h5>
                    <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body" style="margin-left: 60px;">
                    <h4>Ammonium sulphate</h4>
                      <img src="assets/pvk kisan img/fertilizer img-5.jpg" alt="fertiizer" width="200px" height="250px">
                    <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                    <h5 class="card-title mt-2 ml-5">Rs:&nbsp;1400</h5>
                    <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body" style="margin-left: 60px;">
                      <h4>Mop</h4>
                      <img src="assets/pvk kisan img/fertilizer img-6.jpg" alt="fertiizer" width="200px" height="200px">
                      <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;800</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body" style="margin-left: 60px;">
                      <h4>Posphate</h4>
                      <img src="assets/pvk-img/img-16.jpg" alt="fertiizer" width="200px" height="200px">
                      <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                      <h5 class="card-title mt-3 ml-5">Rs:&nbsp;1500</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body" style="margin-left: 60px;">
                      <h4>Ammpnium sulphate</h4>
                      <img src="assets/pvk kisan img/fertilizer img-7.jpg" alt="fertiizer" width="200px" height="200px">
                      <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                      <h5 class="card-title  mt-2 ml-5">Rs:&nbsp;1200</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body" style="margin-left: 60px;">
                      <h4>DAP</h4>
                      <img src="assets/pvk kisan img/fertlizers img-8.jpg" alt="fertiizer" width="200px" height="215px">
                      <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;1600</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    </div>
                  </div>
                </div>
      </div>
</body>
</html>
