<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<body>
              <div style="padding-left: 90px; padding-top: 100px;">
                <img src="assets/pvk-img/page not found img.jpg" alt="no img" width="500px" height="400px" class="mt-5 ml-5">
            </div>
        <div style="padding-bottom: 80px;">
            <h4>PAGE NOT FOUND</h4>
            <p>Error :refuse to connect</p>
            <p>Try:Check the connection</p>
            <button class="btn btn-info">Reload</button>
        </div>
        
</body>
</html>
