<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmeric</title>
</head>
<body>
    
    
                <img src="assets/pvk-img/turmeric img-1.jpg" alt="Turmeric" class="rounded" width="400px" height="400px" style="margin-left: 550px;"><br><br>
                <h3 id="vam">Turmeric</h3>
                <p class="vasu">This the Turmeric plant they do not have seeds they have the turmeric small roots.<br>
                Turmeric root has a fragrant aroma and a somewhat bitter, peppery, biting taste reminiscent of ginger. When eaten, it colors the saliva yellow and leaves a warm sensation in the mouth.<br>
                    Image result for turmeric root description rhizome.
                    Turmeric is a rhizome (root) that comes from the plant of the ginger family (Zingiberaceae) native to India and is used as a spice in cooking. Curcumin is a component of turmeric that has been most studied for its antiinflammatory effects.
                
                Fresh turmeric rhizomes (often called roots) look similar to ginger, a close relative. Like ginger, fresh rhizomes have a livelier flavor than dried. Turmeric's bright orange flesh is earthy, peppery, and slightly bitter. ... Choose firm rhizomes and avoid soft, dried, or shriveled ones.
                
                People take tree turmeric for diabetes. It is also used for high cholesterol and many other conditions, but there is no good scientific evidence to support these other uses. Do not confuse Tree turmeric with Turmeric (Curcuma longa). These are different plants with different effects.
                </p>
                <br><br>
      
</body>
</html>
