<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <!---------Logo  Brand----- -->
        <div class="myimg">
            <img class="myimg" src="assets/pvk-img/kisan seva main img-2.png" alt="no img" >
          </div>
         

        <img src="assets/pvk kisan img/logo-3.jpg" alt="no-img" width="100%" height="600vh">
        <h3 class="h" font face="georgia">Logo</h3>
        <p class="sai">All the world will face the food crisis in future, because the farmer are not getting sufficient seeds,pesticides and fertilizers to them.<br>
            Now some countries does not sufficient food to eat for not geeting sufficient products to the farmers.<br>
            To overcome that problems, this kisan seva E-commerse web-site will helpful to the farmer.To overcome that problems this app is very usefull.

        </p>
  

</body>
</html>
