<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeds</title>
</head>
<body>
    <div class="container">
        <a routerLink='/products/seeds/rice'> <img id="item-image" src="assets/pvk-img/rice main img.jpg" class="rounded-circle" alt="Rice"> 
        <h5>Rice-image</h5></a>  
        <a routerLink='/products/seeds/cotton'> <img id="item-image" src="assets/pvk kisan img/cotton seeds img.jpg" class="rounded-circle" alt="cotton">
        <h5>Cotton-image</h5></a>
        <a routerLink='/products/seeds/mirchi'> <img id="item-image" src="assets/pvk kisan img/mirchi main img-.jpg" class="rounded-circle" alt="mirchi">
        <h5>Mirchi-image</h5> </a>
         <a routerLink='/products/seeds/corn'> <img id="item-image" src="assets/pvk kisan img/corn main-img.jpg" class="rounded-circle" alt="corn">
        <h5>corn-image</h5> </a>
        <a routerLink='/products/seeds/turmaric'> <img id="item-image" src="assets/pvk kisan img/turamic main-img.jpg" class="rounded-circle" alt="turmeric">
        <h5>Turmeric-image</h5></a>

         
        

      </div>
      <router-outlet></router-outlet>
</body>
</html>
