<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="m">Mirchi</h3>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
                <img  src="assets/pvk-img/mirchi img-1.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;10000</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-2.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;11000</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-3.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;12050</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-4.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;11000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-17.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;12000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-6.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;9500</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-7.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;11000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-8.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;11550</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-9.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;9000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-10.jpg"alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;10000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-11.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;9500</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-12.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;8000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-13.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;8500</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body"style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-14.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;8000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-15.jpg" alt="Mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;7050</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="margin-left: 60px;">
                <img src="assets/pvk-img/mirchi img-16.jpg" alt="mirchi" width="200px" height="255px">
                <p class="card-text mt-3 ml-5"><button>+</button>&nbsp;1&nbsp;<button>-</button></p>
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;8050</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
      </div><br>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
</body>
</html>
