.lp{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
img:hover{
    width: 210px;
    border: 2px solid rgb(230, 192, 41);
    transform:scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
        
    }