<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soil-test</title>
</head>
<body>
    <div class="btn-soil">
        <button class="soil-btn"><a href="http://localhost:4200/contactus"> click here soil-test </a></button>
    </div>
    
    <div class="container">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
              <div class="img-btn">
            <!-- <img src="../../assets/pvk kisan img/main img of soiltest.jpg" class="rounded" alt="Soil"> -->

            

        </div>
        <div class="soil-text">
    <h3 class="text-center p-4 soil-test display-5 text-uppercase">Soil-Test</h3>
    Your soil needs to be able to provide nutrients to plants, and allow plants to take up the nutrients in the soil.  Otherwise, your plants just won’t grow well.<br><br>

   <h6><b>THE GLASS JAR SOIL TEST FOR SAND, SILT, AND CLAY: </b></h6>
   This should take about 1 hour to set up and a full day to conclude. Find an empty straight-sided jar, such as a peanut butter or mason jar, with a lid, and have a ruler handy. Dig down to root level—about 6 inches—in the area that you want to test and remove enough soil to fill the the jar to between one-third and one-half full. Next, fill the jar to the shoulder with water, then set the jar aside to let the soil soak up the water. Put the lid on the jar and shake it hard for about 3 minutes. <br><br>

1. Set the jar down and look at your watch. In 1 minute, measure (with the ruler) the amount of sediment that has collected at the bottom. This is the sand in your soil.<br>
2. Wait 4 minutes more. Measure the sediment again: The difference between the two numbers will be the amount of silt in your soil. <br>
3. Take a third measurement in 24 hours. The difference between the second and third number will be the amount of clay in your soil. <br>
Calculate the percentages of sand, silt, and clay, which should add up to 100 percent. Healthy soil typically consists of 20 percent clay, 40 percent silt, and 40 percent sand.<br><br>

This simple test can help you to decide what to grow: If your soil is high in sand, it will be well-draining. Silt and clay are hard to get wet, but they stay wet; plants that like “wet feet” would be happy here. Choose your plants accordingly and/or amend the soil:<br><br>

<b>If you have sandy soil,</b> add humus or aged manure, peat moss, or sawdust with some extra nitrogen. Heavy, clay-rich soil can also be added to improve the soil.<br>
<b>If you have silty soil,</b> add coarse sand (not beach sand) or gravel and compost, or well-rotted horse manure mixed with fresh straw.<br>
<b>If you have clay soil,</b> add coarse sand (not beach sand), compost, and peat moss.<br><br>
</div>
</div>
<div class="col-sm-1">
</div>
</div>
</div>

</body>
</html>
