.item {
    display: none;
    position: relative;
    transition:(.6s ease-in-out left);
}


.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
/* .emulateTransitionEnd(2000) */
.video-dd{
    flex-direction: column;
}
 video{
     width: 70vw;
    
} 
.vam{
    text-align: center;
    color: cadetblue;
    padding: 5px;
    margin: 5px;
    /* float: center; */
    justify-content: center;

}
.car{
    text-align: center;
    color: teal;
}
.pvk{
    color:rgb(223, 199, 199);
}
.par{
    text-align: center;
    color: teal;
}
