<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carousel</title>
</head>
<body>
    <h2 class="car" font face="georgie">carousel</h2>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/pvk kisan img/Rice-2.jpg" alt="Rice" class="d-block w-100" height="600vh">
        <div class="carousel-caption">
          <h3 class="pvk">Rice crop</h3>
          <p class="pvk">It will take 120days to grow the rice crop!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/pvk kisan img/cotton img-21.jpg" alt="Cotton" class="d-block w-100" height="600vh">
        <div class="carousel-caption">
          <h3 class="pvk">Cotton crop</h3>
          <p class="pvk">Cotton crop is used for making cloth purpose!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/pvk kisan img/mi img.jpeg" alt="Mirchi" class="d-block w-100" height="600vh">
        <div class="carousel-caption">
          <h3 class="pvk">Mirchi crop</h3>
          <p class="pvk">Mirchi crop is used for all food items for spicy!</p>
        </div>
      </div>
    
    <div class="carousel-item">
      <img src="assets/pvk kisan img/corn img-2.jpg" alt="Corn" class="d-block w-100" height="600vh">
      <div class="carousel-caption">
        <h3 class="pvk">Cron crop</h3>
        <p class="pvk">Corn crop is one type of the food item!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/pvk kisan img/Turmeric plant-img.jpg" alt="Turmeric" class="d-block w-100" height="600vh">
      <div class="carousel-caption">
        <h3 class="pvk">Turmeric crop</h3>
        <p class="pvk">Turmeric crop is used in the food items too!</p>
      </div>
    </div>
    </div>

    <!-- Left and right controls -->
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

  <!-----------video---------------->

  <div class=" video-dd d-flex justify-content-center  align-items-center p-3 ">
    <!-- <h4 class="vam" font face="georgie">video</h4> -->
  <video  controls src="assets/pvk kisan img/product-video.mp4"></video>
  <h2 class="par">This video about the important of the farming</h2>
</div>
</body>
</html>




