<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <section>

    <h2>Details</h2>
    <p class="details-text"> KISAN SEVA is a virtual E-shop for farmers , which is the one of the farmer E-shop in south India to launch complete range of agro-inputs & agro-services . We have linked complete Agro-products under one roof ‘KISAN  SEVA’ to facilitate farmers .

        we endeavor to provide agri-services  by giving farmer or customers quality products at their kisan booking centers (KBC) ,more of what they want at one stop destination for all the information, products and services related to agriculture vast selection, low prices, fast and reliable delivery, and a trusted and convenient online shopping experience – and provide agri sellers a best e-commerce platform.
        
        Kisan  Seva is into business of E-marketing of Agro Inputs like Fertilizers, Pumps & Motors/spares ,Irrigation-Plastic /drip/ formal-irrgation Systems, Harvesting Machinery ,Hardware Equipments/tool ,online fruit truck.
        
        "KBC" is a center where our executives will help the farmer for booking of their  right product choosing them self's (FARMER) and esay delivery through KBC
        
        Our vision is to save farmer paisa for great produce with a mission to simplify the lives of farmers.<br><br>

        We provide good products for the customer(Farmers) and services to the people for the growth of the crops.<br>
       
        KISAN SEVA is the one of the platfrom to develop the intraction between Web-site and the farmers of the products.It clearly overview and explain of the uses of the products.<br><br>

      <strong>Action
       Focus:</strong><br> To be focused about what I do what we deliver .<br><br>
        
      <strong> Motivated:</strong><br> To be clear of achieving passion.<br><br>
        
        <strong> Enthusiastic:</strong><br> To love what I do.<br><br>
        
            <strong> Care
        Respect: </strong><br>To respect every individual in the organization and provide her/him with the dignity and attention to make her/him believe that she/he makes a difference to the organisation.<br><br>
        
        <strong>  Listen:</strong><br> To listen and resolve any employee / customer grievance quickly and fairly & Truth.<br><br>
        
            <strong>Integrity:</strong><br> By being open, honest and fair in all our relationships and being respectful and trustful to others.<br><br>
        
            <strong>Services:</strong><br>
            Kisan E-seva is keen in doing service for farmers.We are indeed looking for new companies ,new innovations ,new technologies which will help farmers in easing cultivation .Who ever want to advertize your product we will assist you,help you and join you in giving publicity to your product with our wide spread network we can provide 365-days services to the farmers.<br>
            we can provide best services to the farmers and we can take feedback form the farmers and we rectifies the quries of the coustmers and we can solve the problems of the coustmers.
        
        
    
    
    </p>
</section>

</body>
</html>
