
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;500&display=swap');

section{

    background-color:rgb(223, 175, 175);

}
h2{

    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.details-text{
    font-family: 'Exo 2', sans-serif;
    
    padding: 0px;
    margin: 0px;

}
