<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvesting machinery</title>
</head>
<body>
  <h2 class="hm">Harvesting machinery</h2>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
                <h4>Tractor</h4>
                <img src="assets/pvk kisan img/harvest img-1.png" alt="tractor" height="180px" width="200px" style="margin-left: 60px;">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;8,00,000</h5>
              <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
                <h4>Harvester</h4>
                <img src="assets/pvk kisan img/harvesting img-2.jpg" alt="harvester" height="180px" width="200px" style="margin-left: 60px;">
              <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>22,00,000</del>&nbsp;20,00,000</h5>
              <p class="card-text"class="btn btn-info mt-2 ml-5">Buy</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                  <h4>Harvester</h4>
                <img src="assets/pvk kisan img/harvesting img-4.jpg" alt="harvester" height="180px" width="200px" style="margin-left: 60px;">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;15,00,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                  <h4>Harvester</h4>
                <img src="assets/pvk kisan img/harvesting img-3.jpg" alt="harvester" height="180px" width="200px" style="margin-left: 60px;">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;14,00,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                  <h4>power vider</h4>
                  <img src="assets/pvk kisan img/power img-1.jpg" alt="power vider" height="200px" width="200px" style="margin-left: 60px;">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;65,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
              
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h4>power vider</h4>
                  <img src="assets/pvk kisan img/power img-2.jpg" alt="power vider" height="240px" width="200px" style="margin-left: 60px;">
                <h5 class="card-title mt-2 ml-5">Rs:&nbsp;60,000</h5>
                <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h4>power vider</h4>
                  <img src="assets/pvk kisan img/power img-3.jpg" alt="power vider" width="200px" height="240px" style="margin-left: 60px;">
                  <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>85,000</del>&nbsp;70,000</h5>
                  <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4>power vider</h4>
                      <img src="assets/pvk kisan img/power img-4.jpg" alt="power vider" width="200px" height="240px" style="margin-left: 60px;">
                    <h5 class="card-title mt-2 ml-5">Rs:&nbsp;65,000</h5>
                    <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                  
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4>power vider</h4>
                      <img src="assets/pvk kisan img/power img-5.jpg" alt="power vider" width="200px" height="200px" style="margin-left: 60px;">
                    <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>75,000</del>&nbsp;65,000</h5>
                    <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h4>power vider</h4>
                      <img src="assets/pvk kisan img/power img-6.jpg" alt="power vider" width="200px" height="200px" style="margin-left: 60px;">
                      <h5 class="card-title mt-2 ml-5">Rs:&nbsp;70,000</h5>
                      <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h4>power vider</h4>
                        <img src="assets/pvk kisan img/power img-7.jpg" alt="power vider" width="200px" height="200px" style="margin-left: 60px;">
                        <h5 class="card-title mt-2 ml-5">Rs:&nbsp;<del>70,000</del>&nbsp;60,000</h5>
                        <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h4>power vider</h4>
                        <img src="assets/pvk kisan img/power img-8.jpg" alt="power vider" width="200px" height="200px" style="margin-left: 60px;">
                        <h5 class="card-title mt-2 ml-5">Rs:&nbsp;35,000</h5>
                        <p class="card-text" class="btn btn-info mt-1 ml-5">Buy</p>
                        
                      </div>
                    </div>
                  </div>
    </div>
</body>
</html>
